{% extends "base.html" %}
{% block content %}
<div>
  <div class="container" style="width: 50rem; margin-top: 10rem;" >
      <div class="row">
              <div class="btn-group-vertical">
                <span class="input-group-list">
                  <a href="/acciones/crear/" class="btn btn-success btn-lg" >Registrar acciones</a>
                  <a href="/acciones/traspaso/" class="btn btn-success btn-lg" >Realizar traspaso</a>
                </span>
              </div>
      </div>
    </div>
</div>
{% endblock %}
