{% extends "base.html" %}
{% block content %}
<div>
  <div class="container" style="width: 100rem; margin-top: 10rem; margin-bottom: 5rem;" >
      <div class="row">
        <div class="p">
          <div class="btn-group-vertical">
            <a href="/acciones/crear/" class="p btn btn-success btn-lg" >Registrar acciones</a>
            <a href="/acciones/traspaso/" class="p btn btn-success btn-lg" >Realizar traspaso</a>
            <a href="/acciones/historial/" class="p btn btn-success btn-lg" >Registro de traspasos</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
