{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
  <div class="container" style="width: 50rem; margin-top: 10rem;" >
      <div class="row">
        <div class="col-md-12 search">
          <form action="" method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <span class="input-group-list">
                  <a href="/traspaso/crear/" class="btn btn-success" style="line-height: 32px; width: 10rem; height: 3rem;">Registrar acciones</a>
                  <a href="#" class="btn btn-primary" style="line-height: 32px; width: 10rem; height: 3rem;">Realizar traspaso</a>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <div class="row mt-5 justify-content-center">
{% endblock %}
