{% extends "base.html" %}
{% block content %}
<div class="mainto">
  <h1 class="main city">Accionistas</h1> 
  <div class="container" style="width: 50rem; margin-top: 3rem;" >
      <div class="row">
        <div class="col-md-12 search">
          <form action="" method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control" style="height: 3rem;" placeholder="Digite nombres, run o apellidos..." name="Buscar">
                <span class="input-group-list">
                  <i class="icon icon-search"></i>
                  <button type="submit" class="btn btn-success" style="width: 8rem; height: 3rem;">Buscar</button>
                  <a href="/crear/" class="btn btn-success" style="width: 10rem; height: 3rem; border-color: dodgerblue; background-color: dodgerblue;">Crear Accionista</a>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <div class="row mt-5 justify-content-center">
  {% if accionistas %}
  {% for accionista in accionistas %}
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h3 class="card-title">RUN: {{ accionista.run }} - {{ accionista.nombres }} {{ accionista.apellidos }}</h3>
        <p class="card-text">Correo: {{ accionista.email }}</p>
        <a href="/accionistas/{{ accionista.id }}/" class= "btn btn-dark">Detalles</a>
        <a href="/accionistas/{{ accionista.id }}/editar/" class= "btn btn btn-outline-warning">Editar</a> 
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h1> No existen Accionistas registrados!</h1>
  {% endif %}
  </div>
</div>
{% endblock %}