{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 align="center">Busqueda de Accionistas</h1>
<div class="container" style="width: 20rem;">
    <div class="row">
      <div class="col-md-12 search">
        <form action="" method="get">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
              <span class="input-group-list">
                <i class="icon icon-search"></i>
                <button type="submit" class="boton btn-success">Buscar</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
  {% if accioni %}
  {% for accionista in accioni %}
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h3 class="card-title">N° {{ accionista.id }} - {{ accionista.nombres }} {{ accionista.apellidos }}</h3>
        <p class="card-text">RUN: {{ accionista.run }}, Correo: {{ accionista.email }}</p>
        <a href="/accionistas/{{ accionista.id }}/" class= "btn btn-dark">Detalles</a>
        <a href="/accionistas/{{ accionista.id }}/editar/" class= "btn btn btn-outline-warning">Editar</a> 
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h1> No existen Accionistas registrados!</h1>
  {% endif %}
  </div>
{% endblock %}
