<nav class="navbar navbar-light navbar-expand-lg bg-white clean-navbar" style="border-bottom: 1px solid black;">
  <div class="container">
    <a class="navbar-brand logo" href="#">Registro de Accionistas</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="/accionistas/" >Accionistas</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" >Terceros</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" >Traspasos</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" >Dividendos</a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="{% url 'logout' %}" class="nav-link active">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>