{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <h3 style="margin-top: 7rem;">Detalles del tercero</h3>
  <a href="/terceros/{{ tercero.tercero_id }}/editar/" class= "btn btn-outline-warning mb-2">Editar</a>
  <a href="/terceros/" class= "btn btn-secondary mb-2">Volver</a>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Run del accionista</th>
        <td>{{ tercero.accionista }}</td>
      </tr>
      <tr>
        <th scope="row">Nombres</th>
        <td>{{ tercero.nombres }}</td>
      </tr>
      <tr>
        <th scope="row">Apellidos</th>
        <td>{{ tercero.apellidos }}</td>
      </tr>
      <tr>
        <th scope="row">Rol</th>
        <td>{{ tercero.rol.upper }}</td>
      </tr>
      <tr>
        <th scope="row">Firma</th>
        <td><img src="{{ tercero.firma.url }}" class="img-fluid img-thumbnail firma"></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
