{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;&quot;);color:rgb(255,255,255);">
        <div class="text">
            <div class="btn-group-vertical btn-group-lg">
                <button class= "btn btn-primary" type="button">Buscar Accionista</button>
                <a href="http://127.0.0.1:8000/aaaa/" class="btn btn-primary">Crear Accionista</a>
                <button class= "btn btn-primary" type="button">Modificar Accionista</button>
            </div>
        </div>
    </section>
</main>
{% endblock %}
