{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="card-body">
        <h3 class="card-title">{{ accionista.nombre }} {{ accionista.apellido }}</h3>
        <p class="card-text">
            RUN: {{ accionista.run }}
            Total de acciones: {{ accionista.totalAcciones }}
            Nacionalidad: {{ accionista.nacionalidad }}
            Dirección: {{ accionista.direccion }}
            Telefono: {{ accionista.telefono }}
            Email: {{ accionista.email }}
            Fax: {{ accionista.fax }}
        </p>
        <a href="/accionistas/{{ accionista.id }}/editar/" class= "btn btn btn-outline-warning btn-lg">Editar</a>    
    </div>
    <p>{{ accionista.totalAcciones }} Acciones</p>
</div>
