{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Registro de Accionistas</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index">Inicio</a></li>
                    <li class="nav-item" role="presentation"><a href="accionista" class="nav-link active" >Accionistas</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" >Terceros</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" >Traspasos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" >Dividendos</a></li>
                    <li class="nav-item" role="presentation"><a href="{% url 'logout' %}" class="nav-link active">Cerrar Sesión</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page landing-page">
            <section class="clean-block clean-hero" style="background-image:url(&quot;static/assets/img/image.png&quot;);color:rgba(9, 162, 255, 0.85);">
                <div class="text">
                        <h2>Bienvenido {{user.username}}!</h2>
                    <p></p>
                </div>
            </section>
        </main>
    {% endblock %}
</body>

</html>